<!DOCTYPE html>
<html>
<head>
    <title>All Appointments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>All Appointments</h2>

    <table>
        <tr>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Date</th>
        </tr>
        {% for a in appointments %}
        <tr>
            <td>{{ a[0] }}</td>
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/dashboard">Back to Dashboard</a>
</div>

</body>
</html>